* {
  margin: 0;
  padding: 0;
}
.container {
display: grid;
grid-template-rows: 170px;
height: 100vh;
width: 100vh;
}
.box1 {
    margin-top: 10px;
  background-color: grey;
  width: 1000px;
  color: aliceblue;
  height: 30px;
  border: 2px solid black;
}
.box {
  width: 1000px;
  background-color: rgb(204, 4, 4);
  color: aliceblue;
  height: 30px;
  animation: anim345 6s ease-in-out 2s infinite alternate-reverse;
  display: flex;
  flex-direction: row;
  gap: 58px;
}
li {
  display: flex;
  margin-left: 1px;
  list-style: none;
  border: 1.4px solid black;
  opacity: 40%;
}
.box2 {
  background-color: grey;
  width: 1000px;
  color: aliceblue;
  height: 30px;
  border: 2px solid black;
  border-radius: 12px;
}
.box3 {
  width: 1000px;
  background-color: rgb(5, 144, 12);
  border-radius: 12px;
  color: aliceblue;
  height: 30px;
  animation: anim346 10s ease-in 1s  infinite alternate-reverse;
  display: flex;
  flex-direction: row;
  gap: 58px;
}
@keyframes anim345 {
  from {
    width: 0px;
  }
  to {
    width: 1000px;
  }
}
@keyframes anim346 {
    from {
        width: 0px;
      }
      to {
        width: 1000px;
      }
    }
.dragon img{
  position: relative;
  width: 240px;
  animation: anim455 3s linear infinite alternate-reverse ;
}
@keyframes anim455 {
  from{
    top: 0%;
    transform: rotate(1turn);
  }
  to{
    top: 10%;
  transform: rotate(1turn);
  }
  to{
    top: 0%;
    transform: rotate(2turn);
  }
  to{
    top: -10%;
  }
  
}