*{
    margin: 10;
    padding: 10;
}
.red{
background-color: red;
height: 20px;
color: white;
}
.blue{
background-color: blue;
color: white;
}
.green{
    background-color: green;
    color: rgba(255, 255, 255, 0.826);
}
/* rgba stands rgb + aplha where white is 0 and black is 1.*/